.button-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  column-gap: 8px;
  color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  gap: 30px;
}

.services-list__link {
  display: block;
  transition: box-shadow var(--transition-time-cubic);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.card-desc {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
  justify-content: flex-start;
  align-items: center;
}

.card-desc__title {
  margin-bottom: 4px;
  color: var(--main-color);
  font-weight: var(--primry-font-weight);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-desc__section {
  color: var(--secondary-color);
  font-weight: var(--secondary-font-weight);
  font-size: 16px;
  line-height: 1.875;
}

.card-overlay {
  position: relative;
  overflow: hidden;
}

.card-overlay__text {
  position: absolute;
  transform: translateY(100%);
  top: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--other-color);
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform var(--transition-time-cubic);

  .services-list__link:hover & {
    transform: translateY(0%);
  }
}
